@keyframes blurInLoop {
  0%,
  100% {
    filter: blur(12px);
    opacity: 0;
  }
  25%,
  75% {
    filter: blur(0px);
    opacity: 1;
  }
}

.blur-char {
  filter: blur(12px);
  opacity: 0;
  animation: blurInLoop 3s ease-in-out infinite;
  font-family: "Epilogue", ui-sans-serif, system-ui, sans-serif;
}

.blur-char {
  animation-delay: calc(var(--char-index) * 0.05s);
}

.pixel-loader {
  --size: 165px; /* ← change only this */

  width: var(--size);
  height: var(--size);
  background-image: url("../assets/loader.png");
  background-repeat: no-repeat;

  /* background-size: calc(var(--size) * 4) var(--size); 4 = frame count */
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  animation: play-frames 1500ms steps(4) infinite;
}

/* 309 */
@keyframes play-frames {
  from {
    background-position: 0px 0px;
  }

  /* background-position: calc(var(--size) * -4) 0px; */
  to {
    background-position: 100% 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .pixel-loader {
    animation: none;

    background-position: 0px 0px;
  }
}
