@import url("./assets/transitions.css");
@import "tailwindcss" important;

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --color-primary: #4db5ff;
  --color-variant: #2c2c6c;
  --color-dark: #161b22;
}

html {
  font-family: "Epilogue", ui-sans-serif, system-ui, sans-serif;
  scroll-behavior: smooth;
}

button,
.btn {
  color: var(--color-primary);
  padding: 12px 20px;
  cursor: pointer;
}
